@use "../../styles/variables.scss" as *;

.drawer-scrim {
  display: none;
}

@media all and not ($desktop) {
  html[data-drawer="open"] .drawer-scrim {
    display: block;
    position: fixed;
    inset: var(--topbar-height) 0 0 0;
    z-index: 97;
    background: rgba(0, 0, 0, 0.28);
  }
}
